<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="logfile" class="org.apache.log4j.FileAppender">
		<param name="File" value="automation.log.txt" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] - %m%n" />
		</layout>
	</appender>

	<appender name="testng" class="common.TestNGAppender">
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<category name="login_register">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="testng" />
	</category>
	
	<category name="event_creation">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="testng" />
	</category>
	
	<category name="event_searching">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="testng" />
	</category>
	
	<category name="event_register">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="testng" />
	</category>
	
	<category name="event_notification">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="testng" />
	</category>
	
	<category name="event_page">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="testng" />
	</category>
	
	<category name="event_bookmark">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="testng" />
	</category>
	
		<category name="event_management">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="testng" />
	</category>
	
	<root>
		<level value="logfile" />
	</root>

</log4j:configuration>